.carousel_links_container {
  margin-left: auto;
  margin-right: auto;
  width: 110px;
  height: 70px;
  position: relative;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective:1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}

#carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d; /* Chrome, Safari, Opera */
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  -ms-transition: -ms-trasform 1s;
  transition: transform 1s; 
}

#carousel figure {
  display: block;
  position: absolute;
  width: 42px;
  height: 50px;
  top: 10px;
  background: #eee;
  box-shadow: 0px 0px 5px #888888;
  margin-left: 28%;
    -moz-border-image: -moz-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
    -o-border-image: -o-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
    -ms-border-image: -ms-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
    border-image: linear-gradient(to bottom right, #3acfd5 0%, #3a4ed5 100%);

    border-image-slice: 1;
    -webkit-backface-visibility: visible; /* Chrome, Safari, Opera */
    -moz-backface-visibility: visible;
    -o-backface-visibility: visible;
    -ms-backface-visibility: visible;
    backface-visibility: visible;
}
    
#carousel figure:nth-child(1) { transform: rotateY(   0deg ) translateZ( 114px ) ;}
#carousel figure:nth-child(2) { transform: rotateY(  51.42857deg ) translateZ( 114px );}
#carousel figure:nth-child(3) { transform: rotateY(  102.85714deg ) translateZ( 114px );}
#carousel figure:nth-child(4) { transform: rotateY( 154.2587deg ) translateZ( 114px );}
#carousel figure:nth-child(5) { transform: rotateY( 205.7142deg ) translateZ( 114px );}
#carousel figure:nth-child(6) { transform: rotateY( 257.142857deg ) translateZ( 114px );}
#carousel figure:nth-child(7) { transform: rotateY( 308.1457deg ) translateZ( 114px );}
#carousel.show_1 {transform:   translateZ( -114px )  rotateY( -0deg );}
#carousel.show_2 {transform:   translateZ( -114px ) rotateY( -51.42857deg );}
#carousel.show_3 {transform:   translateZ( -114px ) rotateY( -102.85714deg );}
#carousel.show_4 {transform:   translateZ( -114px ) rotateY( -154.2587deg );}
#carousel.show_5 {transform:   translateZ( -114px ) rotateY( -205.7142deg );}
#carousel.show_6 {transform:   translateZ( -114px ) rotateY( -257.142857deg );}
#carousel.show_7 {transform:   translateZ( -114px ) rotateY( -308.1457deg );}
#carousel figure img {
  width: 42px;
  height: 50px;
}


.content_container {
  width: 872px;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  position: relative;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}

#carousel_content {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d; /* Chrome, Safari, Opera */
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform 1s; 
 
}

#carousel_content div {
  display: block;
  position: absolute;
  width: 700px;
  min-height: 400px;
  left: 80px;
  top: 10px;
  background: #eee;
  box-shadow: 0px 0px 5px #888888;

    -moz-border-image: -moz-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
    border-image: linear-gradient(to bottom right, #3acfd5 0%, #3a4ed5 100%);

    border-image-slice: 1;
    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

#carousel_content div:nth-child(1) { transform: rotateY(   0deg ) translateZ( 905px ) ;}
#carousel_content div:nth-child(2) { transform: rotateY(  51.42857deg ) translateZ( 905px );}
#carousel_content div:nth-child(3) { transform: rotateY(  102.85714deg ) translateZ( 905px );}
#carousel_content div:nth-child(4) { transform: rotateY( 154.2587deg ) translateZ( 905px );}
#carousel_content div:nth-child(5) { transform: rotateY( 205.7142deg ) translateZ( 905px );}
#carousel_content div:nth-child(6) { transform: rotateY( 257.142857deg ) translateZ( 905px );}
#carousel_content div:nth-child(7) { transform: rotateY( 308.1457deg ) translateZ( 905px );}

#carousel_content.show_1 {transform:   translateZ( -905px )  rotateY( -0deg );}
#carousel_content.show_2 {transform:   translateZ( -905px ) rotateY( -51.42857deg );}
#carousel_content.show_3 {transform:   translateZ( -905px ) rotateY( -102.85714deg );}
#carousel_content.show_4 {transform:   translateZ( -905px ) rotateY( -154.2587deg );}
#carousel_content.show_5 {transform:   translateZ( -905px ) rotateY( -205.7142deg );}
#carousel_content.show_6 {transform:   translateZ( -905px ) rotateY( -257.142857deg );}
#carousel_content.show_7 {transform:   translateZ( -905px ) rotateY( -308.1457deg );}


.tab_nav
{
display: inline-flex;
margin-left: 47.45%;
}


.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

.links {
  font-variant: small-caps;
}

/*Time*/
#time_rem{
    font-size: 14px;
    background-color: gainsboro;
    padding: 10px;
    border-radius: 12px;
  }
  #days_rem{
    color: gainsboro;
  }
  #time{
    text-align: center;
    float: right;
    background: none repeat scroll 0% 0% #808080;
    font-variant: small-caps;
    border-radius: 12px;
    opacity: 0.7;
    box-shadow: 5px 5px 6px #888888;
    margin-top: -10px;
  }
  #time_rem .Time_elts{
    display: inline-flex;
  }
  #days_rem .Time_elts{
    display: inline-flex;
    font-size: 30px;
  }
  /*Time*/

  body{
    background-color: gainsboro;
  }


.content_in_page{
  padding: 20px;
  font-family: sans;
}
.content_in_page h1{
  color: maroon;
  font-size: 2.5em;
  font-family: Georgia;
  letter-spacing: 0.1em;
  color: rgb(142,11,0);
  text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
}
.content_in_page h1 span{
  display: block;
  margin-top: 0.5em;
  font-family: Verdana;
  font-size: 0.6em;
  font-weight: normal;
  letter-spacing: 0em;
  text-shadow: none;

}

.content_in_page p{
  font-size: 24px;
}

.content_in_page .meta{
  font-family: Georgia;
  color: rgba(69,54,37,0.6);
  font-size: 0.85em;
  font-style: italic;
  letter-spacing: 0.25em;
  border-bottom: 1px solid rgba(69,54,37,0.2);
  padding-bottom: 0.5em;
}

.content_in_page .meta span{
  text-transform: capitalize;
  font-style: normal;
  color: rgba(69,54,37,0.8);
}

.content_in_page .body p{
  font-family: Verdana;
  -moz-column-count: 2;
  -moz-column-gap: 1em;
  -webkit-column-count: 2;
  -webkit-column-gap: 1em;
  column-count: 2;
  column-gap: 1em;
  line-height: 1.5em;
  color: rgb(69,54,37);
}

.content_in_page .body p:first-child{
  font-size: 1.25em;
  font-family: Georgia;
  font-style: italic;
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
  letter-spacing: 0.1em;
}
.content_in_page .body p:first-child:first-line{
  font-weight: bold;
}
.content_in_page .body p{
  font-size: 1em;
  font-family: Georgia;
}

footer{
  text-align: center;
  background-color: #808080;
  margin-top: 40px;
  font-family: Georgia;
  color: rgba(69,54,37,0.6);
  font-size: 0.85em;
  font-style: italic;
  letter-spacing: 0.25em;
  border-bottom: 1px solid rgba(69,54,37,0.2);
  color: white;
  text-shadow: #2c2c2c 3px 3px 5px;
}


.content_in_page::after{
  content: "";
  background: url("../images/violet1.jpg");
  opacity: 0.45;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  background-size:cover

}